body {
background-color: lightblue;
color: maroon;
font-family: Arial;
margin: 0px;
}
header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
}
footer {
    background-color: brown;
    color: greenyellow;
    font-size: 16pt;
    padding: 10px;
    font-style: italic;
    text-align: right;
}
a {
    color: green;
    text-decoration: none;
}
a:link{
    color: green;
    text-decoration: none;
}
a:visited{
    color: lightyellow;
    opacity: 0.7;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: lightgoldenrodyellow;
}
a:active {
    color: black;
    opacity: 0.3;
}