body {
background-color: lightblue;
color: maroon;
font-family: Arial;
margin: 0px;
}
header {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
}
footer {
    background-color: brown;
    color: greenyellow;
    font-size: 16pt;
    padding: 10px;
    font-style: italic;
    text-align: right;
}
main{
    
}